.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
  }

  .card {
    flex: 0 1 calc(33.33% - 20px);
    max-width: 18rem;
  }
