.card-list {
  justify-content: stretch;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0;
}

.card {
  flex: 0 1 calc(25%);
  word-wrap: break-word;
}

.right_input_container {
  margin-right: 10px;
  margin-left: 10px;
}

.locations_container {
  background-image: url(https://media.timeout.com/images/105211701/750/422/image.jpg);
}
