.card-img-container {
    max-width: 100%;
    max-height: 300px;
    overflow: hidden;
    text-align: center;
  }
  
  .card-img-container img {
    width: auto;
    max-height: 100%;
  }

  .search-container {
    max-width: 400px;
    margin: 0 auto;
  }